flower.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
 <xs:element name="flowerShop">
<xs:complexType>
<xs:sequence>
    <xs:element name="flower" maxOccurs="unbounded">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="id" type="xs:int"></xs:element>
            <xs:element name="flowerName" type="xs:string"></xs:element>
            <xs:element name="qty" type="xs:string"></xs:element>
        </xs:sequence>

    </xs:complexType>    

    </xs:element>
</xs:sequence>
</xs:complexType>



 </xs:element>

</xs:schema> 























<!-- <xs:element name="flowerShop">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="flower">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:unsignedByte" />
              <xs:element name="flowerName" type="xs:string" />
              <xs:element name="qty" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>-->
